<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Spring Boot Thymeleaf </title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<h2></h2>
<h1>Create User</h1>

<form action="#" th:action="@{/user/createUser}" th:object="${user}" method="POST">
    <table>
        <tr>
            <td>Name</td>
            <td>
                <input type="text" th:field="*{username}"/>
              <!--  <label th:if="${#fields.hasErrors('userName')}" th:class="'error'">Enter Your Name</label>-->
            </td>
        </tr>
        <tr>
            <td>Surname</td>
            <td>
                <input type="text" th:field="*{surname}"/>
<!--
                <label th:if="${#fields.hasErrors('userSurname')}" th:class="'error'">Enter Your Surname</label>
-->
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <input type="email" th:field="*{email}"/>
<!--
                <label th:if="${#fields.hasErrors('userEmail')}" th:class="'error'">Enter Your Email</label>
-->
            </td>
        </tr>
        <tr>
            <td>Phone number</td>
            <td>
                <input type="text" th:field="*{phoneNumber}"/>
<!--
                <label th:if="${#fields.hasErrors('userPhoneNUmber')}" th:class="'error'">Enter Your Phone number</label>
-->
            </td>
        </tr>
        <tr>
            <td>Username</td>
            <td>
                <input type="text" th:field="*{username}"/>
<!--
                <label th:if="${#fields.hasErrors('userUsername')}" th:class="'error'">Enter Your username</label>
-->
            </td>
        </tr>
        <tr>
            <td>password</td>
            <td>
                <input type="text" th:field="*{password}"/>
<!--
                <label th:if="${#fields.hasErrors('userPassword')}" th:class="'error'">Enter your password</label>
-->
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" th:value="Submit"/>
                <input type="reset" th:value="Reset"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html> 
