<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Spring Boot Thymeleaf </title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1>User Details</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Country?</th>
        <th>Phone Number</th>
        <th>PK</th>
    </tr>
   <!-- <tr th:each="users : ${users}">
        <td th:text="${user.userName}">Id</td>
        <td th:text="${user.userSurname}">Title</td>
        <td th:text="${user.userEmail}">Gender</td>
        <td th:text="${user.userCountry}">Married</td>
        <td th:text="${user.userPhoneNumber}">Profile</td>
        <td th:text="${user.userPK}">Profile</td>

    </tr>-->
</table>
<a href="#" th:href="@{/user/createuser}">Add User</a>
</body>
</html> 
